<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patrickdoyle30.android.streakr">

    <application
        android:allowBackup="true"
        android:icon="@drawable/streakr_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/streakr_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".GoalsHabitsFeatureActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GoalEditorActivity"
            android:label="Add a Goal" />

        <provider
            android:name=".data.LTProvider"
            android:authorities="com.patrickdoyle30.android.streakr"
            android:exported="false" />

        <activity android:name=".StreakDetailsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".GoalsHabitsFeatureActivity"></activity>
        <activity android:name=".Libraries">
            <intent-filter>
                <action android:name="libraries.intent.action"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING" />


</manifest>